.container {
    margin:  30px 10%;
}

.slick-prev:before, .slick-next:before {
    color: black;
}

.col-1 {
    text-align: center;
    margin: auto;
}

img {
    margin: auto;
    display: inline-block;
    align-self: center;
    max-width: 80%;
}

.slick-dots {
    bottom: -48px;
}