html {
    background-color: blue;
}

body {
    margin: 0;
}

/* header, section, main {
    display: flex;
    flex-direction: column;
} 

header div  {
    background-color: #aae7ff;
    order: 2;
    float: left;
}*/

header img {
    max-width: 50px;
}

header  nav {
    background-color: #aae7ff;
    order: 3;
}

@media screen and (min-width: 800px) {
    body{
        margin: 0;
    }

    header, section, main {
        display: block;
    }

    main, section {
        display: block;
        margin: 50px auto 0 auto;
        max-width: 960px;
        border-color: #707070;
        border-style: solid;
        border-width: 10px;
        padding: 2%;
        background-color: #dfdfdf;
    }

    .img-link {
        width: 80%;
    }

    table {
        width: auto;
    }

    #section-table {
        overflow: scroll;
    }

    th, td  {
        border-collapse: collapse;
        border-style: solid;
        border-width: 1px;
        border-color: black;
        margin: 0 0 0 0;
        padding: 2%;
        text-align: center;
    }

    header img{
        max-height: 150px;
        float: left;
    }

    header h1 {
        padding: 0 0;
        text-align: center;
        font-size: 40pt;
    }

    header nav {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 20pt;
    }

    header{
        display: block;
        border-color: #707070;
        border-style: solid;
        border-width: 0 0 5px 0;
        padding: 1%;
        background-color: #aae7ff;
        position:relative;
        top: 0;
        left: 0;
    }

    div {
        display: block;
        border-color: #707070;
        border-style: solid;
        border-width: 0 0 0 0;
        padding: 2%;
        background-color: #aae7ff;
        position:relative;
        top: 0;
        left: 0;
    }

    #sign {
        font-size: 20pt;
    }

    footer {
        display: block;
        border-color: #707070;
        border-style: solid;
        border-width: 5px 0 0 0;
        padding: 2%;
        background-color: #aae7ff;
        margin: 90px 0 0 0;
    }
}
