html {
    background-color: blue;
}

body{
    margin: 0;
}

main, section {
    margin: 50px 25% 0 25%;
    max-width: 960px;
    border-color: #707070;
    border-style: solid;
    border-width: 10px;
    padding: 2%;
    background-color: #dfdfdf;
}

.img-link {
    width: 80%;
}

th, td  {
    border-collapse: collapse;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    margin: 0 0 0 0;
    padding: 2%;
    text-align: center;
}

header img {
    max-height: 150px;
    float: left;
}

header h1 {
    padding: 0 0;
    text-align: center;
    font-size: 40pt;
}

header nav {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20pt;
}

header {
    display: block;
    border-color: #707070;
    border-style: solid;
    border-width: 0 0 5px 0;
    padding: 2%;
    background-color: #aae7ff;
    position:relative;
    top: 0;
    left: 0;
}

#sign {
    font-size: 20pt;
}

footer {
    display: block;
    border-color: #707070;
    border-style: solid;
    border-width: 5px 0 0 0;
    padding: 2%;
    background-color: #aae7ff;
    margin: 90px 0 0 0;
}